

    <section>
        <div class="container">
        
            <div class="row bg-info mt-5">
                {{#each products}}

                <div class="col-3">
                    <div class="card">
                        <img src="/product-images/{{this._id}}.png" class="card-img-top mx-auto" alt="..." style="width: 10rem; height: 6rem;">
                        <div class="card-body">
                            <h6 class="card-title">{{this.name}}</h6>
                            <p class="card-text">{{this.description}}</p>
                            <a href="#" class="btn btn-primary">Add to cart</a>
                        </div>
                    </div>
                    
                </div>
                {{/each}}
               
            </div>
        </div>
    </section>
