<header>
    <nav class="navbar navbar-expand-lg navbar-light">
        <a class="navbar-brand" href="/"><span class="user-header-brand-name">AL</span>ey <span class="user-header-brand-name">SH</span>opping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse user-header-navlink" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">PRODUCTS</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/cart">CART <span class="badge badge-success" id="cart-count">{{cartcount}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">CONTACT</a>
                </li>

                {{#if user}}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="/place-order" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        ORDERS
                    </a>
                </li>
                {{/if}}
            </ul>
            {{#if user}}
                    <a class="p-2 text-uppercase text-dark" href="#">{{user.username}}</a>
            {{else}}
                    <a href="/signup" class="btn btn-primary mx-3">SIGN UP</a>
            {{/if}}
            <div class="">
                {{#if user}}
                <a href="/logout" class="btn btn-primary">SIGN OUT</a>
                {{else}}
                <a href="/login" class="btn btn-primary">SIGN IN</a>
                {{/if}}

            </div>
        </div>
    </nav>
</header>

