<section class="banner-section user-banner-image">
    <div class="container h-100">
        <div class="row align-items-center h-100">
            <div class="col-6 p-5">
                <h1 class="user-banner-heading">Sale 20% Off</h1>
                <h1>On Everything</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio beatae, aspernatur est cupiditate
                    sint odit odio
                    maiores animi maxime illum magnam, necessitatibus, modi quibusdam ducimus inventore a fugiat hic
                    omnis!
                </p>
                <div>
                    <a href="" class="btn btn-danger">Shop now</a>
                </div>
            </div>
        </div>
    </div>
</section>
{{>user/product-display}}