<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascripts/cart.js"></script>
<script src="/javascripts/product-display.js"></script>
</body>

</html>